{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>Регистрация</h1>
    <form action="/lab8/register" method="post">
        <div>
            <label>
                Логин: <input type="text" name="login" class="inputC">
            </label>
        </div>

        <div>
            <label>
                Пароль: <input type="password" name="password" class="inputC">
            </label>
        </div>
        {% if error %}
            <span class="error">{{ error }}</span> <br>
        {% endif %}
        <button type="submit" class="btnGray">Зарегистрироваться</button>
    </form>
{% endblock %}